{{ $cover:= .Resources.GetMatch "cover*" }}
{{ $image := $cover.Resize "480x q100" }}

<a href="{{ .RelPermalink }}" class="block rounded-xl shadow-lg overflow-hidden transform hover:-translate-y-1 hover:scale-105 transition duration-500 ease-in-out">
    <img class="block h-56 object-cover w-full" src="{{ $image.RelPermalink }}"
         alt='Preview of {{ .Title }} by {{ delimit .Params.Speakers ", " ", and " }}'
         width="480" height="224">
    <div class="p-3">
        <span class="block text-xl truncate" title="{{ .Title }}">{{ .Title }}</span>
        <div class="flex items-center justify-between">
            <div>
                {{ range .Params.Speakers }}
                <span class="text-sm font-medium text-gray-700 speaker">{{ . }}</span>
                {{ end }}
            </div>

            <div class="text-gray-700 font-medium text-xs float-right">
                <svg class="h-4 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span class="">{{ .Params.duration }}</span>
            </div>

        </div>
        <div class="mt-2">
            {{ range .Params.Tags }}
            <span class="inline-block bg-red-200 rounded-lg px-2 py-1 font-medium text-gray-700 text-xs">{{ . }}</span>
            {{ end }}
        </div>
    </div>

</a>